@font-face {
  font-family: "Stanford";

  src: url("https://www-media.stanford.edu/assets/fonts/stanford.woff") format("woff"), url("https://www-media.stanford.edu/assets/fonts/stanford.ttf") format("truetype");

  font-weight: 300;

  font-display: swap;
}
html {
  font-size: 10px;
}
.su-brand-bar,
footer {
  font-size: 62.5%;
}

header a:hover {
  text-decoration: none;
}

body {
  font-family: Source Sans Pro, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 16px;

}
p {
  line-height: 1.5;
}
.slurm-form .runtime-form {
  align-items: flex-start;
}
#slurm {
  background-color: white;
  padding: 1em;
  border: 1px solid;
  margin: 0 0 2em;
  max-width: 100%;
}

.slurm-page h1 {
  margin-bottom: 1em;
  font-size: 4rem;
}
.slurm-page h2 {
  margin-top: 1em;
}

#copyBtn.funkytown {
  text-align: left;
}
#copyBtn.funkytown {
  animation: fadeIn 1s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

div.fancy-copy {
  position: relative;
}

div.fancy-copy.copied {
  background-color: black;
  opacity: .5;
}

#copyOverlay {
  display: none;
}

div.fancy-copy.copied #copyOverlay {
  display: block;
  position: absolute;
  top: 50%;
  margin-top: -150px;
  right: 50%;
  margin-right: -112px;
  font-size: 300px;
  opacity: .3;
  color: black;

}





.tips {
  ::placeholder {
    color: white;
    opacity: .8;
  }
  margin-bottom:2em;
  .tip-input {
    input.terminal {
      background-color: dimgray;
      border: 1px solid;
      color: white;
      max-width: 100%;
    }
  }
  .tip-btn {}
}

.tips h2 {
  margin-top: 2em;
  font-size: 2.4rem;
}
.slurm-page h2 {
  margin-top: 1em;
  font-size: 2.8rem;
  a.btn {
    font-size: 1.4rem;
    &.btn-lg{
      font-size:1.7rem;
    }
  }
}
.slurm-page h3 {
  margin-top: 1em;
}

.slurm-page {
  padding-top: 1rem;
  padding-bottom: 2rem;
}

.slurm-page .ui-datepicker table {
  font-size: 1.2rem;
}

.slurm-page .select2-container--bootstrap4 .select2-selection--multiple button.select2-selection__choice__remove {
  padding: 0 2px;
  margin-right: 5px;
  color: white;
}

select {
  background: none;
  background-image: none;
}
.form-control-plaintext,
.form-control {
  font-size: 16px;
}

.select2-container {
  width: auto !important;
}
.slurm-form label {
  display: block;
  width: 100%;
  max-width: 100%;
}
span.label-note {
  float: right;
}
span.separator {
  line-height: 36px;
}
#narrative code {
  display: block;
}

h3 a.table-toggle {}

.collapsing {
  transition-timing-function: ease;
}

#copyBtn i {
  padding-right: 4px
}

a.btn {
  font-size: 1em;
  &.copy,
  &.generate {
    font-size: 4rem;
    height: 4.8rem;
    line-height: 4.8rem;
    padding: 0;
  }
  &.copy {
    width: 4.8rem;
  }
  &.generate {
    font-size: 3rem;
    line-height: 3rem;
    padding: .9rem;
  }
}

.select2-container--bootstrap4 .select2-selection--multiple .select2-search__field:focus {
  box-shadow: none;
  width: 100% !important;
  max-width: 100%;
}

.ui-datepicker select.ui-datepicker-month,
 .ui-datepicker select.ui-datepicker-year {
    display: inline-block;
    height:auto;
    padding: 0 2px;
}

.ui-datepicker table {
    font-size: .8em;
}