.slurm-form .runtime-form {
  align-items: flex-start;
}
#slurm {
  background-color: white;
  padding: 1em;
  border: 1px solid;
  margin: 0 0 2em;
}

#copyBtn.funkytown {
  text-align: left;
}
div.fancy-copy{
  position:relative;
}

div.fancy-copy.copied{
  background-color:black;
  opacity:.5;
}

#copyOverlay {
  display:none;
}

div.fancy-copy.copied #copyOverlay {
  display:block;
  position:absolute;
  top:50%;
  margin-top: -150px;
  right:50%;
  margin-right: -112px;
  font-size:300px;
  opacity:.3;
  color:black;

}





.tips {
  ::placeholder {
    color: white;
    opacity: .8;
  }
  margin-bottom:2em;
  .tip-input {
    flex-grow: 9;
    input.terminal {
      background-color: dimgray;
      border: 1px solid;
      color: white;

    }
  }
  .tip-btn {
    flex-grow: 1;
  }
}

.tips h4 {
  margin-top: 2em;
}

.slurm-page h3 {
  margin-top: 1em;
}

.slurm-page{
  padding-top: 1em;
}