.slurm-form .runtime-form {
  align-items: flex-start;
}
#slurm {
  background-color: white;
  padding: 1em;
  border: 1px solid;
  margin: 0 0 2em;
}

#copyBtn.funkytown {
  text-align: left;
}
#slurm.funkyslurm {
  border-color: blue;
}

.tips {
  ::placeholder {
    color: white;
    opacity: .8;
  }
  margin-bottom:2em;
  .tip-input {
    flex-grow: 9;
    input.terminal {
      background-color: dimgray;
      border: 1px solid;
      color: white;

    }
  }
  .tip-btn {
    flex-grow: 1;
  }
}

.tips h4 {
  margin-top: 2em;
}

.slurm-page h3 {
  margin-top: 1em;
}

.slurm-page{
  padding-top: 1em;
}