@font-face {
  font-family: "Stanford";

  src: url("https://www-media.stanford.edu/assets/fonts/stanford.woff") format("woff"), url("https://www-media.stanford.edu/assets/fonts/stanford.ttf") format("truetype");

  font-weight: 300;

  font-display: swap;
}

.su-brand-bar,
footer{
  font-size: 62.5%;
}

header a:hover{
  text-decoration:none;
}

body{
    font-family: Source Sans Pro, Helvetica Neue, Helvetica, Arial, sans-serif;

}
.slurm-form .runtime-form {
  align-items: flex-start;
}
#slurm {
  background-color: white;
  padding: 1em;
  border: 1px solid;
  margin: 0 0 2em;
}

.slurm-page h1 {
  margin-bottom:1em;
}
.slurm-page h3 {
  margin-top:1em;
}

#copyBtn.funkytown {
  text-align: left;
}
#copyBtn.funkytown {
  animation: fadeIn 1s;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

div.fancy-copy{
  position:relative;
}

div.fancy-copy.copied{
  background-color:black;
  opacity:.5;
}

#copyOverlay {
  display:none;
}

div.fancy-copy.copied #copyOverlay {
  display:block;
  position:absolute;
  top:50%;
  margin-top: -150px;
  right:50%;
  margin-right: -112px;
  font-size:300px;
  opacity:.3;
  color:black;

}





.tips {
  ::placeholder {
    color: white;
    opacity: .8;
  }
  margin-bottom:2em;
  .tip-input {
    flex-grow: 9;
    input.terminal {
      background-color: dimgray;
      border: 1px solid;
      color: white;

    }
  }
  .tip-btn {
    flex-grow: 1;
  }
}

.tips h4 {
  margin-top: 2em;
}

.slurm-page h3 {
  margin-top: 1em;
}

.slurm-page{
  padding-top: 1rem;
  padding-bottom:2rem;
}

@media only screen and (min-width:768px) {
  .su-masthead .su-lockup {
    margin-bottom: 0;
  }
}
@media only screen and (min-width:1500px) {
  .su-masthead .su-lockup {
    margin-bottom: 0;
  }
}

.slurm-page .select2-container--bootstrap4 .select2-selection--multiple button.select2-selection__choice__remove{
padding:0 2px;
margin-right:5px;
color:white;
}

select {
    background: none;
    background-image: none;
}